@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --nav-bg-color--:#EEEBDD;
    --nav-button-bgcolor--:#810000;;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    
}

nav{
    
    height: 100%;
    width: 20%;
    background-color: var(--nav-bg-color--);
    overflow: hidden;

}

nav > div{
    display: grid;
    
    place-items: center;   
    border: 1px solid var(--nav-button-bgcolor--);
}

nav > :first-child{
    width: 100%;
    height: 22%;
   

}
nav > div:not(:first-child){
   
    height: 13%;
    width: 100%;
    color: var(--nav-button-bgcolor--);
    
}

nav > div:not(:first-child,:last-child):active{
   
  background-color: var(--nav-button-bgcolor--);
  color: var(--nav-bg-color--);
    
}


nav > :last-child button{

   width: 40%;
   height: 50%;
   border-radius: 30px;
   border: none;
   background-color:var(--nav-button-bgcolor--) ;
   color: var(--nav-bg-color--);
   font-family: "Open Sans", sans-serif;
   font-weight: bolder;
   
    
}

nav > :last-child button:active{
    background-color:var(--nav-bg-color--) ;
    color: var(--nav-button-bgcolor--);
    outline: 1px solid var(--nav-button-bgcolor--);
    
    
 }

.logo_wrapper img{
    width: 50%;
}


main{
    background-color: var(--nav-bg-color--);
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    overflow-y: scroll;
}

.page_title{
    width: 100%;
   
    height: 5%;
    display: grid;
    place-items: center;
}

.content_wrapper{
    height: 95%;
    width: 100%;



}

.content_wrapper form{
    width: 100%;
    display: flex;
   
 
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    

}

.content_wrapper form input{
    outline: none;
    border: none;
  
}

.content_wrapper form > div{
    width: 18%;
    height: 80%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    background-color: var(--nav-button-bgcolor--);
    color: var(--nav-bg-color--);
    padding: 1%;
}

.content_wrapper form > div:last-child{
    justify-content: center;
    background-color:transparent;
}

.content_wrapper form > div label{
    font-size: 100%
}

.content_wrapper form > div input[type="submit"]{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 0;
    margin: 0;
    background-color: var(--nav-button-bgcolor--);
    color: var(--nav-bg-color--);
}

table {
    width: 100%;
    height: 10%;
    text-wrap: nowrap;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    border-color: var(--nav-button-bgcolor--);
    color: var(--nav-button-bgcolor--);
}

/*Table index color*/
table tr td{
    width: 10%;
}



table tr td form  button{
    width: 80%;
    font-size: 100%;
    height: 20%;
    background-color: var(--nav-button-bgcolor--);
    color: var(--nav-bg-color--);
    border: none;
    border-radius: 10px;

}



#edit > div{
    width: 80%;

}



/* Phone*/

@media screen and (max-width: 767px) {

    nav{
        width: 40%;
    }

    nav h1{
        font-size: 80%;
    }
    nav > :last-child button{
        width: 80%;
        height: 50%;
     }

     .page_title h1{
        font-size: 100%;
     }

     .content_wrapper form{
        flex-direction: column;
        height: 50%;
     }

     .content_wrapper form > div{
        width: 80%;
        height: 15%;
        border-radius: 3px;
     }

     .content_wrapper form > div label{
        font-size: 80%
    }
    table{
        font-size: 10px;
    }

}

/* Phone landscape*/

@media screen and (max-width: 767px) and (orientation:landscape){

nav > :first-child img{
    width: 30%;
}

.content_wrapper form{
   
    height: 80%;
}
}
/* Tablet*/
@media screen and (min-width: 768px) and  (max-width: 1024px)   {

    nav{
        width: 40%;
    }

    nav h1{
        font-size: 100%;
    }
    nav > :last-child button{
        width: 80%;
        height: 50%;
     }

     .page_title h1{
        font-size: 100%;
     }

     .content_wrapper form{
        flex-direction: column;
        height: 50%;
     }

     .content_wrapper form > div{
        width: 80%;
        height: 15%;
        border-radius: 3px;
     }

     .content_wrapper form > div label{
        font-size: 80%
    }
    table{
        font-size: 10px;
    }
}

/* Tablet landscape*/
@media screen and (min-width: 768px) and  (max-width: 1024px) and (orientation:landscape){

    nav > :first-child img{
        width: 20%;
    }

    nav > :last-child button{
        width: 80%;
        height: 50%;
     }
    }