@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #EEEBDD;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

nav{
    background-color: #810000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav-content{
    max-width: 1200px;
    margin: auto;
    padding: 0rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 90px;
}

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}

nav .checkbox i{
    font-size: 2rem;
    color: #EEEBDD;
    cursor: pointer;
}

ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    transition: left 0.10s;
}

ul li a{
    font-family: "Open Sans", serif;
    font-size: 14px;
    padding: 8px 8px;
    text-decoration: none;
    font-weight: 600;
    color: #EEEBDD;
    transition: 0.30s;
}

ul li a:hover{
    background-color: #CE1212;
  }

  .sign-in-btn{
    display: flex;
    background-color: #EEEBDD;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    color: #810000;
  }

  .sign-in-btn:hover{
    background-color: #CE1212;
    color: #EEEBDD;
    transition: 0.50s;
  }

  .section-container{
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    animation: transitionIn 0.60s;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: transitionIn 0.60s;
}

.title{
    font-family: "Permanent Marker", cursive;
    font-size: 62px;
    font-weight: 800;
    line-height: 4rem;
    color: #1B1717;
    margin-bottom: 1rem;
    animation: transitionIn 0.60s;
}

.description{
    font-family: "Open Sans", serif;
    font-weight: bold;
    line-height: 1.5rem;
    color: #1B1717;
    margin-bottom: 2rem;
    animation: transitionIn 0.60s;
}

.order-now {
    color: #EEEBDD;
}

.action-btn{
    display: flex;
    animation: transitionIn 0.60s;
}

.action-btn button{
    font-size: 14px;
    padding: 1rem 1.5rem;
    background-color: #1B1717;
    color: #EEEBDD;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    font-family: "Open Sans", serif;
    font-weight: bold;
    animation: transitionIn 0.60s;
}

.action-btn button:hover{
    background-color: #CE1212;
    color: #EEEBDD;
    border-radius: 30px;
}

.image{
    display: grid;
    place-items: center;
    animation: transitionIn 0.60s;
}

.image img{
    width: min(45rem, 70%);
    animation: transitionIn 0.60s;
}

.about{
    height: 100vh;
    width: 100%;
    background-color: #1B1717;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: transitionIn 0.60s;
}

.about .main img{
   margin-top:40PX ;
   width: 650px;
   max-width: 100%;
   height: auto;
   padding: 0 10px; 
}

.all-text{
   width: 600px;
   max-width: 100%;
   padding: 0 10px; 
}

.main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h1{
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 3rem;
    color: #EEEBDD;
}

.all-text h2{
    font-family: "Permanent Marker", serif;
    font-size: 3rem;
    color: #EEEBDD;
    margin-bottom: 20px;
}

.all-text p{
    font-family: "Open Sans", serif;
    line-height: 180%;
    font-size: 17px;
    color: #EEEBDD;
    margin-bottom: 35px;
}

  .bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    background-color: #EEEBDD;
    opacity: 0.3;
  }
  
  .bg img {
    transition: .5s ease-in-out;
  }
  
  #land{
    position: absolute;
    bottom: 0;
    height: 11vh;
    width: 100vw;
    z-index: 3;
  }
  
  #obj1,#obj2,#obj3,#obj4,#Mountain{
    bottom: 10vh;
  }
  
  #obj1{
    position: absolute;
    width: 25vw;
    left: 5vw;
  }
  
  #obj2{
    position: absolute;
    width: 10vw;
    left: 35vw;
  }
  
  #obj3{
    position: absolute;
    width: 20vw;
    left: 50vw;
  }
  
  #obj4{
    position: absolute;
    width: 22vw;
    left: 75vw;
  }
  
  #Mountain{
    position: absolute;
    width: 100vw;
    z-index: -1;
    transform: scaleX(-1);
  }
  
  #cloud1{
    width: 30vw;
    position: absolute;
    z-index: -2;
    top: 5vh;
  }
  
  #cloud2{
    width: 30vw;
    position: absolute;
    z-index: -1;
    top: 25%;
    transform: translate(100%);
  }
  
  #cloud3{
    width: 25vw;
    position: absolute;
    z-index: -2;
    top: 15vh;
    right: 0;
  }
  
  #cloud1,#cloud2,#cloud3{
    opacity: 75%;
  }
  
  #moon{
    width: 10vw;
    position: absolute;
    z-index: -2;
    top: 10vh;
    right: 30vw;
  }

  footer{
    font-weight: bold; 
    color: #EEEBDD;
    font-family: "Open Sans", serif;
}

.bottom-bar{
    background-color: #810000;
    text-align: center;
    padding: 10px 0;
}

  @media (width < 750px){
    nav .checkbox{
        display: block;
    }

    .logo{
      margin-left: 19%;
    }

    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: #810000;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul{
        left: 0;
    }

    ul li a{
        font-size: 1.25rem;
    }

    .section-container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        grid-area: 1/1/2/2;
    }

    .action-btn{
        margin: auto;
    }
  }
  
  @keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
